div {
    margin: 30px;
}

.header {
    float: none;
}

.sidebar {
    float: left;
    margin-top: 25px;
}

.content_box {
    width: 50%;
    border-width: thin;
    border-style: solid;
    border-color: #999999;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.content_title {
    text-align: center;
    color: #444444;
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content_label {
    text-align: center;
    color: #444444;
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    font-size: small;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content_image {
    max-width: 100%;
    height: auto;
}

.image_box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
}

.image_box_gif {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.link:link {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #999999;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
}

.link:visited {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #999999;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

.link:hover {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #666666;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

.link:active {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #999999;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header_logo {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #444444;
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
}

.header_title {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #777777;
    font-size: medium;
    margin-top: 0px;
}

.menu_item {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #666666;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu_item_margin {
    font-family: Arial, Helvetica, Ubuntu, Liberation;
    color: #888888;
    font-size: medium;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}